<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.ankkatalo.motivaatiovalas" android:versionCode="2012192"
	android:versionName="2012-19.2">

	<uses-sdk 
	    android:targetSdkVersion="15" 
	    android:minSdkVersion="7" 
	/>

	<application android:icon="@drawable/motivaatiovalas_icon"
		android:label="@string/app_name">
		<receiver android:name="MotivaatiovalasAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/motivaatiovalas_app_widget_provider_info" />
		</receiver>
	</application>

</manifest>